.banner_clients {
    width: 100%;
    padding: 120px 120px 100px;
    background-color: #000;
    min-height: 500px;

        .banner_clients_title > h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 42px;
            text-align: center;
            color: #FFF;
            margin-bottom: 15px;
        }

        .banner_clients_title > p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #C0C0C0;
        }

        .banner_clients_logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 82px;
        }

}