.banner_clients {
    width: 100%;
    padding: 120px 140px;
    background-color: #000;

    @media (max-width:1024px) {
        padding: 113px 90px;
    }

    @media (max-width:768px) {
        padding: 90px 50px
    }

        .banner_clients_title > h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 42px;
            text-align: center;
            color: #FFF;
            margin-bottom: 15px;

            @media (max-width: 1024px) {
                font-size: 36px;
                line-height: 38px;
            }

            @media (max-width:768px) {
                font-size: 30px;
                line-height: 33px;
            }
        }

        .banner_clients_title > p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #C0C0C0;

            @media (max-width: 1024px) {
                font-size: 22px;
                line-height: 28px;
            }

            @media (max-width:768px) {
                font-size: 17px;
                line-height: 24px;
            }
        }

        .banner_clients_logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 82px;

            svg:not(:last-child) {
                margin-right: 100px;

                @media (max-width:1024px) {
                    margin-right: 80px;
                }

                @media (max-width:768px) {
                    margin-right: 50px;
                }
            }
        }
}