.banner_photo_video {
    width: 100%;
    padding: 120px 120px 100px;
    background-color: #000;

    @media (max-width: 1024px) {
        padding: 100px 90px;
    }

    @media (max-width: 768px) {
        padding: 90px 70px;
    }

    .banner_photo_video_container > h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 42px;
        text-align: center;
        color: #FFF;
        margin-bottom: 15px;

        @media (max-width: 1024px) {
            font-size: 36px;
            line-height: 38px;
        }

        @media (max-width: 768px) {
            font-size: 22px;
            line-height: 26px;
        }
    }

    .banner_photo_video_container > p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #C0C0C0;
        margin-bottom: 22px;

        @media (max-width: 1024px) {
            font-size: 22px;
            line-height: 28px;
        }

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .banner_photo_video_container > button {
            width: 154px;
            min-height: 42px;
            background-color: #FFF;
            border-radius: 14px;
            border: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            @media (max-width:1024px) {
                width: 144px;
                min-height: 40px;
                font-size: 12px;
                line-height: 16px;
            }

            @media (max-width:768px) {
                width: 124px;
                min-height: 35px;
                font-size: 10px;
                line-height: 14px;
            }
    }
}
