.banner_studio {
    width: 100%;
    background-image: url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 466px 0 70px 0;

    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        color: #C0C0C0;
        margin-bottom: 2px;
    }

    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .banner_studio_content_about {
        max-width: 580px;
        text-align: center;
        margin: 0 auto;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #C0C0C0;
    }

}

.banner_studio_footer {
        display: flex;
        justify-content: flex-end;

    .banner_studio_footer_parameter {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #FFF;
        margin-right: 16px;
    }

}

.banner_studio_footer > svg {
    margin-right: 6px;
}