.banner_star_himalayas {
    width: 100%;
    background-image: url(/src/assets/images/section-star.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 206px 0 0;

    @media (max-width: 1024px) {
        padding: 160px 0 0;
    }

    @media (max-width: 1024px) {
        padding: 125px 0 0;
    }

    .banner__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 70px;
        width: fit-content;
        margin-left: auto;
        margin-bottom: 206px;

        @media (max-width: 1024px) {
            padding-top: 60px;
            margin-bottom: 186px;
        }

        @media (max-width: 768px) {
            padding-top: 50px;
            margin-bottom: 176px;
        }
    }

    .banner__container > h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;

        @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 18px;
        }

        @media (max-width: 768px) {
            font-size: 10px;
            line-height: 16px;
        }
    }

    .banner__container > p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #C0C0C0;
        max-width: 273px;

        @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 18px;
        }

        @media (max-width: 768px) {
            font-size: 10px;
            line-height: 16px;
        }
    }
}